# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
dist

# Files
.env
yarn.lock
yarn-error.log
ui-debug.log
src/config/firebase-auth-key.json
firebase-debug.log
firebase-auth-key.json